{% extends 'base.html.twig' %}

{% block title %}
    Movies
{% endblock %}

{% block body %}
<body>
    <h1>Filmy</h1>

    <div>

         {% for movies in movies %}
          <a href="{{ movies.link }}", target="_blank">
            <div>
                {{ movies.title }}: <br>

                {{ movies.description }}<br><br>
            </div>
          </a>
        {% endfor %}
    </div>
</body>
{% endblock %}
